.LeftInterface {
    background-color: #082b38;
    z-index: 2;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}
.RightInterface {
    background-color: #082b38;
    z-index: 2;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.MinimapContainer {
    position: absolute;
    inset: 16px;
}