.LeftInterface {
    z-index: 2;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width: var(--marginSize, 0);
    height: 100%;
    inset-inline-start: 0;
}
.RightInterface {
    z-index: 2;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width: var(--marginSize, 0);
    height: 100%;
    inset-inline-end: 0;
}

.MinimapContainer {
    position: absolute;
    inset: 16px;
}