html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.Container{ 
    height: 100%;
    width: 100%;
    display: flex;
}

.CanvasContainer {
    width:calc(100% - 500px);
    position: relative;
}
.CanvasContainer dialog {
    inset: 0;
    top: calc(50% + 32px);
    margin-block: 0;
}
.CanvasContainer dialog h2 {
    margin-top: 0;
}